<?php
defined('BASEPATH') OR exit('No direct script access allowed');

$config['protocol']  = 'smtp';
$config['smtp_host'] = 'YOUR_SMTP_HOST';
$config['smtp_user'] = 'YOUR_SMTP_USER';
$config['smtp_pass'] = 'YOUR_SMTP_PASSWORD';
$config['smtp_port'] = 587;
$config['smtp_crypto'] = 'tls'; // tls atau ssl
$config['mailtype']  = 'html';
$config['charset']   = 'utf-8';
$config['newline']   = "\r\n"; 
$config['crlf']      = "\r\n";
